.skeleton {
  background-color: #dddbdd;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 0.2) 20%,
    hsla(0, 0%, 100%, 0.5) 60%,
    hsla(0, 0%, 100%, 0)
  );
  animation: shimmer 2s infinite;
  transform: translateX(-100%)
}

@keyframes shimmer{
  100%{
        transform: translateX(100%)
    }
}
