.skeleton {
  background-color: #dddbdd;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 0.2) 20%,
    hsla(0, 0%, 100%, 0.5) 60%,
    hsla(0, 0%, 100%, 0)
  );
  animation: shimmer 2s infinite;
  transform: translateX(-100%)
}

.skeleton-text-trending{
  width: 80px;
  height: 20px;
  border-radius: 4px;
}

.collection-skeleton{
  margin-top: 10px;
}

.collection-skeleton{
  width: 20%;
}

.skeleton-text-collectionInfo{
  width: 600px;
  height: 16px;
  border-radius: 4px;
}

.skeleton-text-collectionItems{
  width: 60px;
  height: 20px;
  border-radius: 4px;
}

.skeleton-text-collectionItems.skeleton.big{
  width: 100px;
  height: 16px;
  border-radius: 4px;
}

.skeleton-text-collectionItems.skeleton.verybig{
  width: 125px;
  height: 16px;
  border-radius: 4px;
}

.skeleton-text-collectionItems.skeleton.superbig{
  width: 200px;
  height: 16px;
  border-radius: 4px;
}

.skeleton-text-collectionItems.skeleton.small{
  width: 60px;
  height: 16px;
  border-radius: 4px;
} 

.skeleton-text-collectionItems.skeleton.verysmall{
  width: 30px;
  height: 16px;
  border-radius: 4px;
} 

.collection-items__header__sort.skeleton{
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
}

.collection-items__header__sort.skeleton::-ms-expand {
  display: none; 
}

.item-page__sale__buttons.skeleton{
  width: 650px;
  height: 48px;
  border-radius: 6px;
}

@keyframes shimmer{
  100%{
        transform: translateX(100%)
    }
}
